.csv
.pyc

_pycache_/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
specs/

backend/__pycache__/
backend/_pycache_/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/*.pyw
backend/*.pyz
backend/*.pywz
backend/*.pyzw
backend/*.pyzwz
backend/*.pyzwzw

clean_data/
data/
docs/
models/
notebooks/
reports/
specs/
src/
tests/
utils/
venv/
catboost_info/
ml/old
.pytest_cache/
.vscode/
# .env
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local
# .env.development
# .env.test
# .env.production
